body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: bisque;
}

#nav-bar {
    width: 100%;
    float: left;
    background-color: brown;
    margin: 0 0 1em 0;
    padding: 0;
}

#nav-bar ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

#nav-bar ul li {
    float: right;
}

#nav-bar ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color: brown;
    color: beige;
}

#nav-bar a:hover {
    text-decoration: none;
    background-color: black;
}

.row {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.row img {
    height: 250px;
    object-fit: cover;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

#bottom li {
    text-align: center;
    list-style-type: none;
    padding-bottom: 20px;
}

#bottom a {
    color: brown;
}

#bottom a:hover {
    color: black;
}

h1 {
    font-size: 29px;
}

fieldset {
    border: none;
}

form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
}

input[type="text"], input[type="number"], input[type="email"] {
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 5px;
    margin: 2px 0 20px;
  }

#inline label {
    font-size: 16px;
}

#inline p input label{
    padding-top: 2px;
}

em {
    font-size: 11px;
}

#submit {
    display: block;
    width: 70%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    border-color: white;
    min-width: 300px;
}

#submit:hover {
    background-color: black;
    color: white;
}

#about h1 {
    text-align: center;
}

#paragraph p {
    text-align: match-parent;
    max-width: 40%;
    margin: auto;
}

#values p {
    font-size: 20px;
    margin-left: 45%;
}

#values ol li {
    margin-left: 47%;
}

#values a {
    text-decoration: none;
}

#values a:hover {
    background-color: black;
    color: white
}

#values a:visited {
    color: brown;
}

figure img {
    height: 250px;
    object-fit: cover;
}

#chili-pics {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
    margin-left: 15%;
}

#contact h1 {
    margin-left: 45%;
}

#contact p {
    margin-left: 39%;
}

figcaption {
    margin-left: 8px;
}
